.panel-default.panel
  .panel-heading
    %h3 Rules:
  .panel-body
    %p Anything containing racist / sexist / hateful content are grounds for an immediate ban.
    %p Posting, or seeking, any identifying personal information, real or fake, will result in a ban without a prior warning.
